%h1 Listing payments

%table.table
  %tr
    %th Line item
    %th Service
    %th Quantity
    %th Item price
    %th
    %th
    %th

  - @payments.each do |payment|
    %tr
      %td= payment.line_item_id
      %td= payment.service_id
      %td= payment.quantity
      %td= payment.item_price
      %td= link_to 'Show', payment
      %td= link_to 'Edit', edit_payment_path(payment)
      %td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
